* {
    font-family: 'Poppins', sans-serif; 
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;

} 
.container {
    margin: auto;
    display: flex;
    max-width: 1080px;
    height: 100%;
    flex-wrap: wrap;
}

/* navigation bar */

nav {
    height: 70px;
    background-color: #7DCEA0 ;
}

nav > .container {
    align-items: center;
}

.logo {
    color: white;
    font-size: xx-large;

}

ul {
    list-style-type: none;
    display: flex;
}

li {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 10px;

}

/* header */

header {
    min-height: 450px; 
    background-color: #7DCEA0;
    display: flex;
}
.front-text {
    font-size: 48px;
    line-height: 1.2;

}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    color: white;
    row-gap: 10px;

    align-self: flex-start; 
}

.separator {
    justify-content: space-between;

}
.text-container + img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    box-shadow: 10jpx 0px 10px black;
    box-shadow: 0px 10px 10px black;

}

.buttons {
    display: flex;
    column-gap: 10px;
}
button {

    flex: 0 1 auto;
    height: 35px;
    width: 100px;
    border: 1px solid royalblue;
    border-radius: 5px;
    background-color: royalblue;
    display:flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 0px white;
}

a {
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 500;
    flex: 1 1 auto;
    font-size: 16px;
}

/* section 1  */

.section1-header {
    text-align: center;
    padding: 40px;
    font-size: 35px;
}


section {
    height: 350px;
}

.card {
    height: 225px;
    width: 225px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    display: flex;
    box-shadow: 5px 0px 5px grey;
    box-shadow: 0px 5px 5px grey;
}

.card img {
    height: 215px;
    width: 215px;
    border-radius: 18px;

}

.card + p {
    text-align: center;
    line-height: 1.2;
    width: 225px;
}

.section1 > .container {
    justify-content: space-between;
    align-content: flex-start;
    row-gap: 30px;
    
}


.section1 > .container > div {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

/* quote section */

.quote-section {
    background-color: #D5F5E3;
    height: 200px;
    padding: 80px;

} 

.quote-section .container {
    justify-content: center;
    align-content: center;
}


.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
}

.author {
    margin-left: auto;
    font-weight: bold;
}

/* modal */

section > .container {
    align-items: center;
}

.container > .modal {
    justify-content: space-between;
    padding: 80px;
    align-items: center;
}

.modal {
    height: 150px;
    background-color: royalblue;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
}

.modal-button {
    color: white;
    background-color: royalblue;
    box-shadow: none;
    border: 2px solid white;
    flex: 0 1 auto;

}
/* footer */
footer {
    height: 80px;
    background-color: #424949;
    display: flex;    
    color: white;

    justify-content: center;
    align-items: center;
}



